/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
   
   
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   /* ---- base ---- */
   
   html,body{ 
     width:100%;
     height:100%;
     background:#111;
   }
   
   html{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   body{
     font:normal 75% Arial, Helvetica, sans-serif;
   }
   
   canvas{
     display:block;
     vertical-align:bottom;
   }
   
   
   /* ---- stats.js ---- */
   
   .count-particles{
     background: #000022;
     position: absolute;
     top: 48px;
     left: 0;
     width: 80px;
     color: #13E8E9;
     font-size: .8em;
     text-align: left;
     text-indent: 4px;
     line-height: 14px;
     padding-bottom: 2px;
     font-family: Helvetica, Arial, sans-serif;
     font-weight: bold;
   }
   
   .js-count-particles{
     font-size: 1.1em;
   }
   
   #stats,
   .count-particles{
     -webkit-user-select: none;
     margin-top: 5px;
     margin-left: 5px;
   }
   
   #stats{
     border-radius: 3px 3px 0 0;
     overflow: hidden;
   }
   
   .count-particles{
     border-radius: 0 0 3px 3px;
   }
   
   
   /* ---- particles.js container ---- */
   
   #particles-js{
     width: 100%;
     height: 100%;
     background-color: black;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
   }
   body{
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: #111;
   }
   .content{
     width: 100%;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     text-align: center;
     color: #fff;
   }
   h1{
     font-size: 70px;
     margin-top: 80px;
     
   }
   button{
      width: 200px;
      padding: 15px 0;
      text-align: center;
      margin: 20px 10px;
      border-radius: 25px;
      font-weight: bold;
      border-radius: 2px solid #1b0096 ;
      background: transparent;
      color: #fff;
      cursor: pointer;
   }
   
   .skills{
     width: 100%;
     max-width: 600px;
     padding: 0 20px;
   }
   .skill-name{
     font-size: 18px;
     font-weight: 700;
     color: #f1f1f1;
     text-transform: uppercase;
     margin: 20px 0;
   }
   .skill-bar{
     height: 14px;
     background: #282828;
     border-radius: 3px;
   }
   .skill-per{
     height: 14px;
     background: #d13639;
     border-radius: 3px;
     position: relative;
     animation: fillBars 2.5s 1;
   }
   .skill-per::before{
     content: attr(per);
     position: absolute;
     padding: 4px 6px;
     background: #f1f1f1;
     border-radius: 4px;
     font-size: 12px;
     top: -35px;
     right: 0;
     transform: translateX(50%);
   }
   .skill-per::after{
     content: "";
     position: absolute;
     width: 10px;
     height: 10px;
     background: #f1f1f1;
     top: -20px;
     right: 0;
     transform: translateX(50%) rotate(45deg);
     border-radius: 2px;
   }
   @keyframes fillBars{
     from{
       width: 0;
     }
     top{
       width: 100%;
     }
   }
   